<h2 class="mb-5">Nuevo Contacto</h2>

<div class="row row-cols-3 justify-content-center">
  <form>
    <div class="mb-3">
      <label for="nombre">Nombre</label>
      <input
        id="nombre"
        type="text"
        placeholder="Nombre"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="nombre">Apellido</label>
      <input
        id="nombre"
        type="text"
        placeholder="Apellido"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="nombre">Edad</label>
      <input id="nombre" type="text" placeholder="Edad" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="nombre">Nacionalidad</label>
      <input
        id="nombre"
        type="text"
        placeholder="Nacionalidad"
        class="form-control"
      />
    </div>

    <button  class="btn btn-primary ms-2">Crear Entrenador</button>
    <button type="button" class="btn btn-warning ms-2" routerLink="/entrenadores">
      Cancelar
    </button>
  </form>
</div>
