<h2 class="mb-5">
  @if (entrenadorValidador) { Editar }@else{ Nuevo } Entrenador
</h2>

<div class="row row-cols-3 justify-content-center">
  @if (form) {
  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="mb-3">
      <label for="nombre">Nombre</label>
      <input
        id="nombre"
        type="text"
        placeholder="Nombre"
        class="form-control"
        formControlName="nombre"
      />

      @if(form.get('nombre')?.hasError('required')){
      <p class="invalid-feedback d-block">
        El nombre es obligatorio, minimo de 3 caracteres.
      </p>

      }
    </div>

    <div class="mb-3">
      <label for="apellido">Apellido</label>
      <input
        id="apellido"
        type="text"
        placeholder="Apellido"
        class="form-control"
        formControlName="apellido"
      />
      @if(form.get('apellido')?.hasError('required')){
      <p class="invalid-feedback d-block">
        El apellido es obligatorio, minimo de 3 caracteres.
      </p>

      }
    </div>

    <div class="mb-3">
      <label for="edad_entrenador">Edad</label>
      <input
        id="edad_entrenador"
        type="number"
        placeholder="Edad"
        class="form-control"
        formControlName="edad_entrenador"
      />
      @if(form.get('nombre')?.hasError('required')){
      <p class="invalid-feedback d-block">
        La edad es obligatoria, maximo 99 años.
      </p>

      }
    </div>

    <div class="mb-3">
      <label for="cedula_entrenador">Cedula</label>
      <input
        id="cedula_entrenador"
        type="number"
        placeholder="Cedula"
        class="form-control"
        formControlName="cedula_entrenador"
      />
      @if(form.get('nombre')?.hasError('required')){
      <p class="invalid-feedback d-block">
        La cedula es obligatoria, minimo 6 digitos.
      </p>

      }
    </div>

    <div class="mb-3">
      <label for="nacionalidad">Nacionalidad</label>
      <input
        id="nacionalidad"
        type="text"
        placeholder="Nacionalidad"
        class="form-control"
        formControlName="nacionalidad"
      />

      @if(form.get('nombre')?.hasError('required')){
      <p class="invalid-feedback d-block">
        La nacionalidad es obligatoria, minimo de 3 caracteres.
      </p>

      }
    </div>

    <button class="btn btn-primary ms-2">
      @if (entrenadorValidador) { Actualizar }@else{ Crear } Entrenador
    </button>
    <button
      type="button"
      class="btn btn-warning ms-2"
      routerLink="/entrenadores"
    >
      Cancelar
    </button>
  </form>
  }
</div>
