<h2 class="mb-5">Nuevo Contacto</h2>

<div class="row row-cols-3 justify-content-center">
  <form [formGroup]="form" (ngSubmit)="crear()">
    <div class="mb-3">
      <label for="nombre">Nombre</label>
      <input
        id="nombre"
        type="text"
        placeholder="Nombre"
        class="form-control"
        formControlName="nombre"
      />
    </div>

    <div class="mb-3">
      <label for="apellido">Apellido</label>
      <input
        id="apellido"
        type="text"
        placeholder="Apellido"
        class="form-control"
        formControlName="apellido"
      />
    </div>

    <div class="mb-3">
      <label for="edad_entrenador">Edad</label>
      <input
        id="edad_entrenador"
        type="number"
        placeholder="Edad"
        class="form-control"
        formControlName="edad_entrenador"
      />
    </div>

    <div class="mb-3">
      <label for="cedula_entrenador">Cedula</label>
      <input
        id="cedula_entrenador"
        type="number"
        placeholder="Cedula"
        class="form-control"
        formControlName="cedula_entrenador"
      />
    </div>

    <div class="mb-3">
      <label for="nacionalidad">Nacionalidad</label>
      <input
        id="nacionalidad"
        type="text"
        placeholder="Nacionalidad"
        class="form-control"
        formControlName="nacionalidad"
      />
    </div>

    <button class="btn btn-primary ms-2">Crear Entrenador</button>
    <button
      type="button"
      class="btn btn-warning ms-2"
      routerLink="/entrenadores"
    >
      Cancelar
    </button>
  </form>
</div>
