<h2 class="mb-5">Entrenadores</h2>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/entrenadores/nuevo">
    Nuevo Entrenador
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Cedula</th>
      <th>Nacionalidad</th>
      <th>Fecha de Creación</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(entrenador of entrenadoresArray; track entrenador.id){

    <tr>
      <th>{{ entrenador.id }}</th>
      <th>{{ entrenador.nombre }}</th>
      <th>{{ entrenador.apellido }}</th>
      <th>{{ entrenador.edad_entrenador }}</th>
      <th>{{ entrenador.cedula_entrenador }}</th>
      <th>{{ entrenador.nacionalidad }}</th>
      <th>{{ entrenador.fechaCreacion | date : "dd/MM/yyyy hh:mm a" }}</th>
      <td>
        <div class="btn-group">
          <button class="btn btn-warning"
          [routerLink]="[entrenador.id, 'actualizar']"
          >
          Editar</button>
          <button class="btn btn-danger" (click)="eliminarEntrenador(entrenador)">Eliminar</button>
        </div>
      </td>
    </tr>

    }
  </tbody>
</table>
